# Files
*.workspace
Makefile
*.mk
*.txt
*.project
*.log
*.sln
*.vcxproj*
*.ttf

# Directories
/.codelite/
/sub/
/*/bin/
/.vs/
/EpisodeTwo/assets/musics/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
